.search-bar {
  display: inline-block;
  border: none;
  border-radius: 25px;
  height: 20px;
  outline: none;
  color: black;
  padding: 15px;
  padding-left: 60px;
  font-size: 16px;
  width: 70%;
  background: white url('/assets/images/search.svg') no-repeat scroll 4px 4px;
}

.action-button {
  width: 20%;
  float: right;
  display: inline-block;
}

.search-bar-container {
  width: 120vh;
}

.packages {
  margin-top: 25px;
  display: grid;
  grid-gap: 25px;
  /* Adjusting for the 10px grid-gap as well */
  //grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - 50px), 1fr));
  grid-template-columns: 1fr 1fr 1fr;
}
