@import "../../../styles/colors";

.container {
  width: 55px;
  border-radius: 25%;
  background-color: $background-icon-color;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid $background-icon-color;

  img {
    width: 80%;
    height: 80%;
    margin: 15% 10% 10%;
  }
}

.selected {
  background-color: $primary-color;
}

.container:hover {
  background-color: $primary-color;
}
