/* You can add global styles to this file, and also import other style files */

// Barlow font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Roboto:wght@100&display=swap');
@import "./app/styles/colors";

* {
  color: $text-color;
  font-family: 'Barlow', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
