/* You can add global styles to this file, and also import other style files */

// Barlow font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Roboto:wght@100&display=swap');
@import "./app/styles/colors";

* {
  color: $text-color;
  font-family: 'Barlow', sans-serif;
}

.action-button {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  height: 40px;
  font-size: 16px;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  cursor: pointer;
  transition: 0.3s; // TODO css variable
}

.action-button:hover {
  border: 1px solid $secondary-color;
  background: $primary-color;
}

body {
  margin: 0;
  padding: 0;
}
