/* You can add global styles to this file, and also import other style files */

// Barlow font
@import url('https://fonts.googleapis.com/css2?family=Barlow');
@import "./app/styles/colors";

* {
  color: $text-color;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  display: block;
  font-size: 48px !important;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 18px;
}

.action-button {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  height: 50px;
  font-size: 16px !important;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  cursor: pointer;
  transition: 0.3s; // TODO css variable
}

.action-button:hover {
  border: 1px solid $secondary-color;
  background: $primary-color;
}

.error-message {
  background: #dd524c;
}

.success-message {
  background: darkgreen;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 32px !important;
  }
}

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
